.login__container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popppins", sans-serif;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0;
    border: none;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.051);
}

.spotify__name {
    font-size: 1.5rem;
}

.spotify__img {
    width: 2rem;
}

.input__form{
    border: 1px solid #000;
    max-width: 500px;
    min-width: 300px;
    height: 300px;
    border-color: rgba(0, 0, 0, 0.211);
    margin: 3rem auto 0 auto;
    border-radius: 10px;
}

.input__email, 
.input__psswrd {
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
}

.input__label {
    font-weight: bold;
    font-size: 1rem;
}

.input__field {
    margin-top: 10px;
    height: 50px;
    padding: 5px 10px;
    font-size: 1rem;
}

.signup__btn {
    border: none;
    background: #fff;
    color: #1ed760;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

