li {
    list-style: none;
}

a {
    text-decoration: none;
}

svg {
    height: 25px;
    color: #c7c2c2;
    cursor: pointer;
}

svg:hover {
    color: #fff;
}

.side-nav-conatiner{
    height: 100vh;
    width: 20vw;
    background-color: #000;
    color: #fff;
    padding: 1rem 0 1rem 1rem;
}

.logo {
    font-size: 2em;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.side-nav-links {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 2rem 0;
    color: #c7c2c2;
    font-size: 0.9rem;
    font-weight: bold;
}

.side-nav-links li {
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
    cursor: pointer;
}

.side-nav-links li:hover {
    color: #fff;
}

.side-nav-controller {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin-top: 3.5rem;
    color: #c7c2c2;
    font-size: 0.9rem;
    font-weight: bold;
    font-size: 1em;
}

.side-nav-controller li {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
}

.side-nav-controller li:hover {
    color: #fff;
    cursor: pointer;
}