.root-main-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-container {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
    font-family: 'Poppins', sans-serif;
}

.logo-sec{ 
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

.spotify-img {
    width: 7rem;
}

.auth-btn button {
    border: none;
    background-color: #000;
    color: #fff;
    margin: 0 1rem;
    font-size: 1.3rem;
}

.auth-btn .login-btn {
    padding: 0.8rem 2rem;
    border-radius: 2.5rem;
    background-color: #1db954;
}