.hero-main-container {
    width: 100%;
    height: 615px;
    padding: 1rem 1.5rem;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
    overflow-x: hidden; 
}

hr {
    color: #c7c2c2;
    margin: 70px 0;
    opacity: 0.20;
}