.hero-main-container {
    width: 100%;
    height: 615px;
    border: 1px solid red;
    padding: 1rem 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.focus-sec span{
    font-size: 1.5rem;
    font-weight: bold;
}

.focus-sec .hero-card {
    padding: 1rem 1.1rem;
    margin: 30px 20px;
    height: 200px;
    width: 300px;
    border: 1px solid red;
}